<div class="container">
    <div class="box_top">
        <p>{{title}}</p>
    </div>

    <div *ngIf="!finished">

        <div class="box_content">
            <h3>{{questionSelected.question}}</h3>
        </div>

        <div class="box_buttons">
            <app-reply-button *ngFor="let opt of questionSelected.options" [texto]="opt.name"
                (click)="playerChoose(opt.alias)"></app-reply-button>
        </div>

    </div>

    <div *ngIf="finished" class="box_footer">
        <h1>O seu resultado é :</h1>
        <h2>{{answerSelected}}</h2>
    </div>

</div>